[user]
	name = Chris Jones
	email = chrisj@q4inc.com
[core]
  editor = /usr/bin/vim
	trustctime = false
[alias]
  st = status -sb
  ci = commit -s
  br = branch
  co = checkout
  df = diff
  ready = rebase -i @{u}
  lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author joe
  purr = pull --rebase
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main
